
.information {
    display: flex;
    flex-direction: column;
    /* width: 75%; */
}

.information-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#filterContainer {
    flex-direction: column;
    flex-wrap: wrap;
    display: none;
}

#filterContainerRight {
    display: flex;
    flex-direction: row;
    flex-wrap: inherit;
}

#filtertext {
    display: none;
}

#filterhr {
    display: none;
}

#filterbr {
    display: none;
}

#allId {
    width: 5rem;
    background-color: #3c3c3c;
}

#noneId {
    width: 5rem;
    background-color: #3c3c3c;
}

#resetId {
    width: 5rem;
    background-color: #3c3c3c;
}

.filterCheckbox {
    width: 1rem;
    height: 1rem;
}

.filterCheckboxLabel {
    margin: .5rem;
}

.checkboxDiv {
    width: 10rem;
}

span {
    margin: .5rem;
}

input {
    margin-top: 0.5rem;
    width: 100%;
    height: 2rem;
}

textarea {
    margin-top: 0.5rem;
    overflow-y: scroll;
}

.comments-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 2.5rem;
}

#comments {
    margin: 0.5rem 0 0 0.5rem !important;
    width: 25%;
}

.container {
    /* display: flex; */
    flex-direction: column;
    margin: 1.22rem 0.5rem 0 0.5rem;
    flex: 1;
    min-width: 200px;
    display: none;
}

.main-container {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    flex: 1;
    min-width: 200px;
}

.description-container {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    flex: 1;
    min-width: 200px;
}

.select-container {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    flex: 1;
    min-width: 200px;
    display: none;
}

/* .multi-select-container {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    flex: 1;
    min-width: 200px;
} */

/* #checkboxes {
    display: none;
    border: 1px #dadada solid;
}

#checkboxes label {
    display: block;
}

#checkboxes label:hover {
    background-color: #1e90ff;
} */

/* .select-box {
    position: relative;
} */

hr {
    width: 100%;
    border-color: #0e639c;
}

.description {
    height: 7rem;
    resize: vertical;
}

.top-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.name-container {
    margin: 2rem 0 0 0.5rem !important;
    max-width: 40vw;
}

.action-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 1.5rem 0 1.5rem 1.5rem;
    margin-left: auto;
}

.icon-container {
    display: flex;
    margin: 2rem 0 0 0.5rem;
    border-radius: 50%;
    background-color: transparent;
    height: 25px;
    width: 25px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    justify-content: center;
    align-items: center;
    place-content: center;
    margin-top: 2.1rem;
}

.label {
    position: relative;
    font-size: 12px;
    color: rgb(0, 0, 0);
}

.action {
    width: 20rem;
    background-color: #cccccc;
}

.select {
    background-color: #cccccc;
    margin-top: 0.5rem;
    height: 1.8rem;
}

.reference-select {
    background-color: #3c3c3c;
    color: #cccccc;
    margin-top: 0.5rem;
    height: 2.8rem;
}

.save {
    margin: 0 0 0 0.5rem;
    width: 2rem;
    height: 2rem;
    margin-top: 1rem;
}

#refresh, #addToMyWork, #filterId, #commentsId {
    margin: 0 0 0 0.5rem;
    width: 2rem;
    height: 2rem;
    margin-top: 1rem;
    background-color: #3c3c3c;
}

.main-element {
    display: flex;
    flex-direction: row;
}

#comments-element-id {
    display: none;
    flex-direction: column;
    width: 0vw;
}

#element-id {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

#comments-sidebar-id {
    display: none;
    flex-direction: column;
    margin-left: 1rem;
    /* width: 25%; */
}

.select-wrapper input.select-dropdown { 
    background-color: var(--vscode-input-background) !important;
    position: initial !important;
    height: 2rem !important;
    font-size: unset !important;
    /* border-bottom: unset !important; */
    border-color: var(--vscode-dropdown-border) !important;
    border: 0.5px solid;
    margin-top: 1rem;
}

.select-wrapper .caret {
    fill: var(--vscode-input-foreground);
}

[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid var(--vscode-button-background);
    border-bottom: 2px solid var(--vscode-button-background);
}

.dropdown-content li>a, .dropdown-content li>span {
    color: var(--vscode-button-background);
}